<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
  <link rel="manifest" href="static/icons/site.webmanifest">
  <link rel="stylesheet" href="static/css/base.css">
  {% block css %}
  {% endblock %}
  <title id="title">Cursos</title>
  <title>{% block title %}Mi Web{% endblock%}</title>
</head>

<body>
    <header id="nav-header">
    <nav id="nav-links">
      <a class="link" href="/">
        <img src="static/icons/home.svg" alt="Inicio" height="30" width="30">
      </a>
      <a class="link" href="/courses">
        <img src="static/icons/courses.svg" alt="Cursos" height="30" width="30">
      </a>
      <a class="link" href="/about">
        <img src="static/icons/about.svg" alt="Acerca de" height="30" width="30">
      </a>
      <a class="link" href="/login">
        <img src="static/icons/login.svg" alt="Inicio de sesión" height="30" width="30">
      </a>
    </nav>
  </header>
  
  <main>
    {% block content %}
    <!-- Contenido especifico -->
    {% endblock %}
  </main>

  <footer>&#169;2025 Todos los derechos reservados</footer>
  
  {% block scripts %}
  {% endblock %}
</body>
</html>